<div class="main">
    <div class="login-form">
        <h1>Better Basics Admin Login</h1>
        <div class="head">
            <img src="client/assets/images/user.png" alt="">
        </div>
        <form onsubmit="return login()">
            <input type="text" ng-model="username" class="text" id="username" value="Username" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Username';}">
            <input type="password" ng-model="password" value="Password" id="password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}">
            <div class="submit">
                <input type="submit" ng-click="login()" value="Log In">
            </div>
        </form>
    </div>
     <!-- start-copyright -->
    <div class="copy-right">
        <p>Template by <a href="http://w3layouts.com">w3layouts</a></p>
    </div>
    <!-- end-copyright -->
</div>
