<div class="errorModal">
    <div class="modal-body">
        <div class="cardHeader">
            <table>
                <tbody>
                    <tr>
                        <td>
                            <strong class="title">WE'RE SORRY!</strong>
                            <br>
                            <span class="subtitle">We can't find that page.</span>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div ng-click="close()" class="close text-center">
        <span class="icon-close"></span>
    </div>
</div>
