<div class="col-xs-12">
    <div class="row variation-list">
        <!-- ngRepeat: variation in featuredVariations -->
        <div ng-repeat="variation in featuredVariations" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 tile-link ng-scope">
            <!-- ngIf: !variation.comingSoon -->
            <a ng-if="!variation.comingSoon" href="/Weight Gurus/product/0375/bluetooth-smart-scale" ng-href="/Weight Gurus/product/0375/bluetooth-smart-scale" class="ng-scope">
                <div class="variation tile ng-isolate-scope brand-Weight Gurus" variation="variation">
                    <div class="dimmer"></div>
                    <div class="tile-container">
                        <back-img ng-src="variation.image.image" ng-show="variation.image" class="ng-isolate-scope backImg" src="variation.image.image" style="background-image: url(&quot;http://media.greatergoods.com/images/standard/8arywhrnhe.jpg&quot;); background-size: contain;"></back-img>
                        <div class="border brandBackgroundColor"></div>
                        <div class="description">
                            <div class="textContainer">
                                <h3 class="ng-binding">BLUETOOTH SMART SCALE </h3>
                                <div class="price"><span ng-show="variation.msrp" class="msrp ng-binding">$99.99  </span><span ng-show="variation.providers.amazon.price" class="amazon ng-binding">$59.99</span><span ng-show="variation.providers.bbb.price &amp;&amp; !variation.providers.amazon.price" class="bbb ng-binding ng-hide"></span><span ng-show="variation.providers.target.price &amp;&amp; !variation.providers.amazon.price &amp;&amp; !variation.providers.bbb.price" class="target ng-binding ng-hide"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- end ngIf: !variation.comingSoon -->
            <!-- ngIf: variation.comingSoon -->
        </div>
        <!-- end ngRepeat: variation in featuredVariations -->
        <div ng-repeat="variation in featuredVariations" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 tile-link ng-scope">
            <!-- ngIf: !variation.comingSoon -->
            <a ng-if="!variation.comingSoon" href="/balance/product/0605/wrist-blood-pressure-monitor" ng-href="/balance/product/0605/wrist-blood-pressure-monitor" class="ng-scope">
                <div class="variation tile ng-isolate-scope brand-balance" variation="variation">
                    <div class="dimmer"></div>
                    <div class="tile-container">
                        <back-img ng-src="variation.image.image" ng-show="variation.image" class="ng-isolate-scope backImg" src="variation.image.image" style="background-image: url(&quot;http://media.greatergoods.com/images/standard/aj8moln2nz.jpg&quot;); background-size: contain;"></back-img>
                        <div class="border brandBackgroundColor"></div>
                        <div class="description">
                            <div class="textContainer">
                                <h3 class="ng-binding">WRIST BLOOD PRESSURE MONITOR</h3>
                                <div class="price"><span ng-show="variation.msrp" class="msrp ng-binding">$69.99  </span><span ng-show="variation.providers.amazon.price" class="amazon ng-binding">$34.95</span><span ng-show="variation.providers.bbb.price &amp;&amp; !variation.providers.amazon.price" class="bbb ng-binding ng-hide"></span><span ng-show="variation.providers.target.price &amp;&amp; !variation.providers.amazon.price &amp;&amp; !variation.providers.bbb.price" class="target ng-binding ng-hide"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- end ngIf: !variation.comingSoon -->
            <!-- ngIf: variation.comingSoon -->
        </div>
        <!-- end ngRepeat: variation in featuredVariations -->
        <div ng-repeat="variation in featuredVariations" class="col-sm-4 col-sm-offset-0 col-xs-10 col-xs-offset-1 tile-link ng-scope">
            <!-- ngIf: !variation.comingSoon -->
            <a ng-if="!variation.comingSoon" href="/rise/product/0657/vista-blend" ng-href="/rise/product/0657/vista-blend" class="ng-scope">
                <div class="variation tile ng-isolate-scope brand-rise" variation="variation">
                    <div class="dimmer"></div>
                    <div class="tile-container">
                        <back-img ng-src="variation.image.image" ng-show="variation.image" class="ng-isolate-scope backImg" src="variation.image.image" style="background-image: url(&quot;http://media.greatergoods.com/images/standard/2o4kjwle2d.jpg&quot;); background-size: contain;"></back-img>
                        <div class="border brandBackgroundColor"></div>
                        <div class="description">
                            <div class="textContainer">
                                <h3 class="ng-binding">VISTA BLEND </h3>
                                <div class="price"><span ng-show="variation.msrp" class="msrp ng-binding">$44.99  </span><span ng-show="variation.providers.amazon.price" class="amazon ng-binding">$35.63</span><span ng-show="variation.providers.bbb.price &amp;&amp; !variation.providers.amazon.price" class="bbb ng-binding ng-hide"></span><span ng-show="variation.providers.target.price &amp;&amp; !variation.providers.amazon.price &amp;&amp; !variation.providers.bbb.price" class="target ng-binding ng-hide"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </a>
            <!-- end ngIf: !variation.comingSoon -->
            <!-- ngIf: variation.comingSoon -->
        </div>
        <!-- end ngRepeat: variation in featuredVariations -->
    </div>
</div>
