<footer id="footer" ng-hide="hideFooter" class="clearfix">
    <div id="footer-widgets">
        <div class="container">
            <div class="row text-center-sm text-center-xs">
                <div class="col-md-4 col-sm-4">
                    <h4>CONTACT</h4><a href="tel:8669918494">866.991.8494</a>
                    <br><a href="mailto:info@greatergoods.com">INFO@GREATERGOODS.COM</a>
                    <br><a href="./careers" class="careers">CAREERS</a></div>
                <div class="col-md-4 col-sm-4">
                    <h4>ADDRESS</h4><a href="https://www.google.com/maps/place/125+N+Main+St,+St+Charles,+MO+63301" target="_blank">125 N MAIN ST.<br>STE 202<br>ST. CHARLES, MO 63301</a></div>
                <div class="col-md-2 col-md-offset-1 col-sm-2 col-sm-offset-2 col-xs-4 col-xs-offset-4 text-center"><img id="logo" src="https://media.greatergoods.com/greatergoods.gif" class="img-responsive"></div>
            </div>
        </div>
    </div>
    <div id="sub-floor">
        <div class="container">
            <div class="row">
                <div class="col-md-4 copyright">© 2015 Greater Goods.</div>
            </div>
        </div>
    </div>
</footer>
