<div class="thePromise pageContent">
    <div ng-class="{'videoDisplay':videoDisplay}" class="contentHeader">
        <div style="background:linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.3) ), url(https://media.greatergoods.com/images/large/gg6dpqvy5o.jpg); background-size:cover; position:relative; background-position: center; pointer-events:none;" class="poster backImg">
            <div class="font-white text-center centerVertical"><span class="posterText"><img src="https://media.greatergoods.com/assets/headers/ourPromise-stars.png" class="stars"><h1>OUR SIX-STAR PROMISE</h1></span></div>
        </div>
    </div>
    <div class="contentBody container-fluid">
        <div class="row">
            <div class="col-md-4 col-md-offset-1 col-xs-10 col-xs-offset-1 text-center promiseBlocks col-lg-3 col-lg-offset-2">
                <h2 class="stars">FIVE-STAR PRODUCTS</h2>
                <p class="lead">We strive to give you a five-star experience by delivering the best products, backed by great service.</p>
            </div>
            <div class="col-md-4 col-md-offset-2 col-xs-10 col-xs-offset-1 text-center promiseBlocks col-lg-3 col-lg-offset-2">
                <h2 class="stars">A SIX-STAR COMPANY</h2>
                <p class="lead">We want to be more than a company that creates great products. We are passionate about using the things we make for good.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 font-md text-center">
                <h2>WHY SIX STARS?</h2>
                <p>Our specialty is making five-star products, but what sets us apart is the attention we pay to their entire life cycle. Although you might not see it, what happens before and after you receive your order makes a big impact on our world. Learn how we make the right choices along the entire journey of our products.</p>
            </div>
        </div>
        <div class="row">
            <div parallax-background="parallax-background" parallax-ratio="0.9" style="background-image:url('https://media.greatergoods.com/images/original/d386u1b7om.jpg')" class="parallaxImage">
                <div class="parallaxCaption">Rise Coffee is made from the top 2% of Arabica beans worldwide.</div>
            </div>
        </div>
        <div class="row combo">
            <div class="col-sm-5 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-lg-3 col-lg-offset-2"><img src="https://media.greatergoods.com/images/original/3clv62lnxp.jpg" class="img-responsive">
                <div class="caption">We’re excited to work with a factory in Haiti on an upcoming product.</div>
            </div>
            <div class="col-sm-4 col-sm-offset-1 col-xs-10 col-xs-offset-1 col-lg-4 col-lg-offset-1">
                <h2>RESPONSIBLE SOURCING</h2>
                <p>We work with manufacturers that produce quality products with dignity. Everything we make is produced in factories that treat their workers well. An object passes through hundreds of hands before ending up in your shopping cart, but too often their fingerprints are erased from the finished product. We wanted to make our products in a way that creates positive change for the people involved. </p>
            </div>
        </div>
        <div class="row">
            <div parallax-background="parallax-background" parallax-ratio="0.9" style="background-image:url('https://media.greatergoods.com/images/original/1vv57tznsk.jpg')" class="parallaxImage">
                <div class="parallaxCaption">Our Balance brand helps provide care to survivors of child trafficking by partnering with Love146.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1">
                <h2>GIVING BACK</h2>
                <p>Since every Greater Goods brand is built with a charity partner, doing good is part of its foundation. Our team wants to solve everyday problems with thoughtful design, and we look for organizations that tackle global issues with the same creativity and passion. We donate a percentage of every sale to our partners, so you can help those in need by buying the things you want.</p>
                <p>We plan our giving using a rule of thirds, evenly splitting our real profits between our charity partners, our employees, and our owners. We measure success by how your dollars change lives: meals that an orphaned child doesn’t have to skip, or hours of counseling a survivor of trafficking receives. Together, our community’s purchases add up to make a real difference.</p>
                <p>Learn how each Greater Goods brand works in collaboration with its charity partner to give back.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2"><img style="width:100%" src="https://media.greatergoods.com/images/original/i47p34yx14.jpg" class="center img-responsive">
                <div class="caption">In collaboration with the Global Orphan Project, our Nourish brand helps provide meals to children in need.</div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-xs-10 col-xs-offset-1 text-center">
                <h3>Learn how each Greater Goods brand works in collaboration with its charity partner to give back.</h3><a href="href" ng-href="./brands" class="btn grayBorder">LEARN MORE</a></div>
        </div>
    </div>
</div>
